@import "tailwindcss";

@theme {
  --color-chocolate: #4a2211;
  --color-cream: #f6e6d3;
  --color-golden: #e2ad5f;
  --color-brownie: #713f29;
  --color-caramel: #ae6840;

  --color-background: var(--color-cream);
  --color-foreground: var(--color-chocolate);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
